@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.separator {
  display: inline-block;
  background-color: white;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

body {
  font-family: var(--font-outfit);
  background-color: var(--bg1);
  color: white;

  @include breakpoints(large) {
    display: flex;
  }
}

main {
  overflow: hidden;
  @include breakpoints(large) {
    flex: 1;
    margin-top: 64px;
  }
}

ul, li {
  list-style: none;
}

a {
  display: flex;
}

.flex {
  display: flex;
}

.wrapper {
  width: calc(100% - 32px);
  max-width: 1024px;
  margin-inline: auto;
  @include breakpoints(medium) {
      width: calc(100% - 48px);
  }
  @include breakpoints(large){
      width: calc(100% - 8px);
  }
}