@use '../util' as *;



.thumb__shadow {
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    transition: height .2s ease-in-out;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.trending { 
    margin-bottom: rem(24);
    ul {
        display: flex;
        gap: rem(16);
        overflow-x: scroll;
    }
    &__movie {
        min-width: 240px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        &:hover > img{
            transform: scale(1.1);
        }

        &:hover .thumb__shadow {
            height: 100%;
        }

        &-info {
            display: flex;
            opacity: .75;
            align-items: center;
            gap: rem(8);
        }

        &-category{
            display: flex;
            align-items: center;
            gap: 6px;

        }

        &-thumb {
            max-width: 240px;
            transition: all .2s ease-in-out;
        }
        &-content{
            z-index: 2;
            color: white;
            font-size: 12px;
            font-weight: 300;
            position: absolute;
            padding: rem(16);
            bottom: 0;
        }
        &-title {
            opacity: 1;
            font-weight: 500;
            margin-top: rem(4);
            font-size: rem(15);
        }
    }
}